

#page_index {
	margin: 5%;
}

#hash_start {
	width: 40%;
	margin: 5% auto;
}

#hash_start p {
    padding: 30px;
}

#hash_start input[type='text'] {  
    text-align: center;
    border-top: 1px solid #eee;
    padding-left: 10px
}

#hash_start label {
    padding: 10px;
    display: block;
    font-size: 20px
}

#version {
    color: white;
    background: #e64c3c;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 0px 10px 25px #eee;
    font-size: 80%;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 30px;
    transition: all 0.5s
    
}