.ewa_switch {
    position: relative;
    display: inline-block;
    margin: 5px 7px;
}

.ewa_switch > input[type='checkbox'] {
    opacity: 0;
    display: inline-block;
    position: absolute;
    background-color: #ccc;
    border-radius: 50px;
    width: 50px;
    height: 100%;
    left: -20px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid black;
    z-index: 1;
    cursor: pointer
    
}

.ewa_switch label {
    display: inline-block;
    position: relative;
    font-size: 85%
}

.ewa_switch label::before {
    content: '';
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50px;
    width: 35px;
    height: 10px;
    transition: all 0.4s;
    left: -10px
}

.ewa_switch label::after {
    content: '';
    position: absolute;
    top: -2.5px;
    bottom: 0px;
    left: -12px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    border: 1px solid #bbb;
    box-shadow: 0px 10px 25px #ccc;
    transition: all 0.4s;
    cursor: pointer

}

.ewa_switch > input[type='checkbox']:hover + label::after {
    box-shadow: 0px 0px 10px #aaa
}

.ewa_switch > input[type='checkbox']:checked + label::after {
    left: 3px;
    background-color: #e64c3c;
    border: 1px solid #b73d31;
    
}

.ewa_switch > input[type='checkbox']:checked + label::before {
    background-color: #e64c3c;
}
* {
	font-family: 'metropolis', arial;
	text-decoration: none;
	line-height: 150%
}

body {
	text-align: center;
	padding: 0px;
    margin: 0px
}

a {
	text-decoration: none;
	color: #e64c3c;
	margin: 5px;
	transition: all 0.5s;
	margin: 20px;
	display: inline-block;
}

a:hover {
	color: #333;
}

/*

button, input[type='submit'], input[type='button'] {
	background-color: #e64c3c;
	color: white;
	padding: 15px 45px;
	border-radius: 50px;
	font-weight: bold;
	border: 0px;
	margin: 10px;
	transition: all 0.5s;
	box-shadow: 0px 10px 25px #ccc
	
}

button:hover, input[type='submit']:hover, input[type='button']:hover {
	padding: 16px 47px;
	box-shadow: 0px 0px 10px #999;
	background-color: #ce4436;
	cursor: pointer;
}
*/


.error {
	color: #ce4436;
	padding: 15px;
}


form {
	border: 1px solid #eee;
	border-radius: 20px;
	overflow: hidden;
	max-width: 500px;
    padding-bottom: 30px
}

form input[type='text'], form textarea {
	width: 99%;
	border: 0px;
	border-bottom: 1px solid #eee;
	padding: 30px;
}

button, input[type='submit'], input[type='button'] {
	background-color: #e64c3c;
	color: white;
	padding: 8px 50px;
	border-radius: 100px;
	font-weight: bold;
	border: 0px;
	margin: 20px;
	transition: all 0.5s;
	box-shadow: 0px 10px 25px #ccc;
	cursor: pointer
	
}

button:hover, input[type='submit']:hover, input[type='button']:hover {
	padding: 8.5px 50.5px;
	box-shadow: 0px 0px 10px #999;
	background-color: #ce4436;
}



.arrow {
	-webkit-animation: gif 1s infinite alternate;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	animation: gif 1s infinite alternate;
    margin-left: 10px
}

@keyframes gif {
  from {
    left: 30px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes gif {
  from {
    left: 30px;
  }
  to {
    left: 0px;
  }
}