
/* -------------------------
---------------------------- PAGINATION -------------
-------------------------*/

[dd_next]:empty:after {
    content: 'Next';
}

[dd_previous]:empty:after {
    content: 'Previous';
}

[dd_nodata] {
    border: 1px solid #ddd;
    padding: 30px 50px;
    border-radius: 20px 20px 20px 0px;
    font-size: 20px;
    display: block;
    width: 70% !important;
    margin: 30px;
}